.chat-message-input-group {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row-reverse;
  width: 100%;
}

.chat-app {
  height: 100vh;
  min-height: inherit;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4e73df;
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  background-size: cover;
}
